<div class="main-container">
    <div class="background">
        <div class="overlay">
             <br>   
            <div class="col-6 jumbo">

                <div class="continer">
                    <div class="wrapper">
                        <h1 class="heading-title display-4">
                            Hire <br>
                            Top Freelance <span class="text-theme">
                                Talent?
                            </span>
                        </h1>
                    </div>
                </div>


                <div class="continer ">
                    <div class="wrapper">
                        <p class="heading-text">
                            Dolor morbi non arcu risus. Felis imperdiet proin fermentum leo vel. Orci dapibus
                            ultrices in iaculis nunc sed. Volutpat maecenas volutpat blandit aliquam.
                        </p>
                    </div>
                </div>

                <div class="continer">
                    <div class="wrapper">
                        <form class="form-inline heading-form">
                            <div class="row">
                                <div class="col-7">
                                    <div class="form-group has-search">
                                        <span class="fas fa-search form-control-feedback"></span>
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>

                                </div>
                                <div class="col-1"></div>
                                <div class="col-4">
                                    <button class="btn btn-warning btn-block">
                                        Search
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="grey-ban">
        <div class="container col-12">
            
            <div class="row justify-content-md-center">
                
                <div class="col-2 brand">
                    <a href="#">
                        <img src="https://g5p6r6b9.stackpathcdn.com/workio/wp-content/uploads/2020/02/logo1.png" alt="Image" class="img-fluid img-brand">
                    </a>
                </div>
                <div class="col-2 brand">
                    <a href="#">
                        <img src="https://g5p6r6b9.stackpathcdn.com/workio/wp-content/uploads/2020/02/logo1.png" alt="Image" class="img-fluid img-brand">
                    </a>
                </div>
                <div class="col-2 brand">
                    <a href="#">
                        <img src="https://g5p6r6b9.stackpathcdn.com/workio/wp-content/uploads/2020/02/logo1.png" alt="Image" class="img-fluid img-brand">
                    </a>
                </div>
                <div class="col-2 brand">
                    <a href="#">
                        <img src="https://g5p6r6b9.stackpathcdn.com/workio/wp-content/uploads/2020/02/logo2.png" alt="Image" class="img-fluid img-brand">
                    </a>
                </div>
                <div class="col-2 brand">
                    <a href="#">
                        <img src="https://g5p6r6b9.stackpathcdn.com/workio/wp-content/uploads/2020/02/logo1.png" alt="Image" class="img-fluid img-brand">
                    </a>
                </div>
                
            </div>
        </div>
    </div>


    <div class="container hiw">

        <div class="row justify-content-md-center">

            <div class="hiw-heading col-12 text-center">
                <spam class="text-muted"> WORKING PROCESS
                </spam>
                <h3 class="hiw-heading-text">How IT <span class="text-theme">Works</span></h3>
            </div>
            <br>

            <nav class="nav nav-pills justify-content-md-center">
                <a class="nav-item nav-link active " id="pills-hiw-buyers-tab" data-toggle="pill" href="#pills-hiw-buyers" role="tab" aria-controls="pills-hiw-buyers" aria-selected="true" href="#">For Buyers</a>
                <a class="nav-item nav-link" id="pills-hiw-freelancers-tab" data-toggle="pill" href="#pills-hiw-freelancers" role="tab" aria-controls="pills-hiw-freelancers" aria-selected="true" href="#">For Freelancers</a>
              </nav>
        </div>
              <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-hiw-buyers" role="tabpanel" aria-labelledby="pills-hiw-buyers-tab">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                
                                <div class="col-4 ">
                                    <div class="icons text-center">
                                        <i class="fas fa-edit fa-2x">

                                        </i>
                                        <h4 class="hiw-crad-heading">
                                            Register
                                        </h4>
                                    </div>
                                    <div class="body-hiw-card text-center">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ea</p>
                                    </div>
                                    
                                </div>
                                <div class="col-4 ">
                                    <div class="icons text-center">
                                        <i class="fas fa-edit fa-2x">

                                        </i>
                                        <h4 class="hiw-crad-heading">
                                            Search
                                        </h4>
                                    </div>
                                    <div class="body-hiw-card text-center">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ea</p>
                                    </div>
                                    
                                </div>
                                <div class="col-4 ">
                                    <div class="icons text-center">
                                        <i class="fas fa-edit fa-2x">

                                        </i>
                                        <h4 class="hiw-crad-heading">
                                            Buy Gig
                                        </h4>
                                    </div>
                                    <div class="body-hiw-card text-center">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ea</p>
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-hiw-freelancers" role="tabpanel" aria-labelledby="pills-hiw-freelancers-tab">
                        <p> KKKKKLorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi similique suscipit, sapiente ad rem nisi fugiat eaque neque explicabo autem nobis, iure, iste culpa facilis quam natus praesentium corporis cupiditate.</p>
                    </div>
              </div>

        </div>

    </div>


<div class="split row text-center justify-content-md-center">
    <div class="col-6 green-side align-middle">
        <div class="heading">
            Let proffessionals handdle to job for you.
        </div>
        <p>let the exparts take the hard part, save time and get more done Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, accusantium. </p>

        <a href="/users/register" class="btn btn-secondary">
            <i class="fas fa-user"></i> Register
        </a>
    </div>
    <div class="col-6 dark-side">
        <div class="heading">
            Share those skills earn extra.
        </div>
        <p>Make money trading your skils, save time and get more done Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, accusantium. </p>

        <a href="/users/register" class="btn btn-secondary">
            <i class="fas fa-like"></i> Get Started
        </a>
    </div>
    </div>
</div>

</div>

<%- include('./partials/foot'); %>
